apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: database-gcp
  labels:
    cloud: gcp
    type: database
spec:
  compositeTypeRef:
    apiVersion: platform.example.com/v1alpha1
    kind: Database
  
  resources:
  - name: cloudsql-instance
    base:
      apiVersion: sql.gcp.upbound.io/v1beta1
      kind: DatabaseInstance
      spec:
        forProvider:
          region: us-central1
          databaseVersion: POSTGRES_15
          settings:
          - tier: db-f1-micro
            ipConfiguration:
            - ipv4Enabled: true
          deletionProtection: false
        writeConnectionSecretToRef:
          namespace: crossplane-system
    
    patches:
    - type: FromCompositeFieldPath
      fromFieldPath: spec.size
      toFieldPath: spec.forProvider.settings[0].tier
      transforms:
      - type: map
        map:
          small: db-f1-micro
          medium: db-n1-standard-2
          large: db-n1-standard-4
    
    - type: FromCompositeFieldPath
      fromFieldPath: spec.backupEnabled
      toFieldPath: spec.forProvider.settings[0].backupConfiguration[0].enabled
    
    - type: ToCompositeFieldPath
      fromFieldPath: status.atProvider.publicIpAddress
      toFieldPath: status.endpoint
    
    connectionDetails:
    - name: host
      fromConnectionSecretKey: publicIpAddress
    - name: username
      value: postgres
    - name: password
      fromConnectionSecretKey: password
