global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: production
    replica: prometheus-0

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

rule_files:
  - '/etc/prometheus/rules/*.yml'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'metrics-app'
    static_configs:
      - targets: ['host.docker.internal:8000']
    metrics_path: /metrics

  - job_name: 'alertmanager'
    static_configs:
      - targets: ['alertmanager:9093']

  - job_name: 'thanos-sidecar'
    static_configs:
      - targets: ['thanos-sidecar-0:10902']

  - job_name: 'thanos-query'
    static_configs:
      - targets: ['thanos-query:10904']

  - job_name: 'minio'
    static_configs:
      - targets: ['minio:9000']
    metrics_path: /minio/v2/metrics/cluster
